.header{
    position: fixed;
    top: 1rem;
    left: 50%;
    transform: translateX(-50%);
    padding: 30px 10%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    /* From https://css.glass */
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

@media (max-width: 768px) {
    .header {
        display: none;
    }
}

.top_name{
    font-size: 25px;
    text-transform: uppercase;
    color: var(--primary-color);
    font-weight: 700;
    padding: 2rem;;
    margin-left: 2%;
    /*position: fixed;*/
}

@media (max-width: 768px) {
    .top_name {
        display: none;
    }
}

.h-ul{
    flex: 1;
    list-style: none;
    text-align: center;
    color: var(--primary-color);
}

.h-ul li{
    display: inline-block;
    margin: 10px 20px;
    font-size: 14px;
}

.link:hover {
    -webkit-transform: scale(1.05);
       -moz-transform: scale(1.05);
        -ms-transform: scale(1.05);
         -o-transform: scale(1.05);
            transform: scale(1.05);  
    font-weight: 600;
  }
  
  .link {
    -webkit-transition: all 0.1s linear;
            transition: all 0.1s linear;
  }

  .h-ul .link a:visited {
    color: var(--primary-color);
}

.h-ul .link a {
    text-decoration: none;
}

.link a {
    text-decoration: none;
    color: inherit;
}
  
@media (max-width: 768px) {
    .h-ul {
        display: none;
    }
}
.sidebar{
    position: fixed;
    top: 1rem;
    height: 100vh;
    width: 250px;
    z-index: 999;
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    right: -250px; /* Hide sidebar off-screen initially */
    transition: right 0.3s ease;
}

.sidebar.open {
    right: 0;
}

.sidebar li{
    width: 100%;
    padding-top: 20px;
}

.s-ul{
    flex: 1;
    list-style: none;
    text-align: center;
    color: var(--primary-color);
}

.s-ul li{
    display: inline-block;
    margin: 10px 20px;
    font-size: 14px;
}
.s-ul .link a:visited {
    color: var(--primary-color);
}

.s-ul .link a {
    text-decoration: none;
    color: inherit;
}
.hamburger{
    position: fixed;
    top: 1rem;
    left: 50%;
    transform: translateX(-50%);
    padding: 30px 10%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    display: none;
    color: var(--primary-color);
}

@media (max-width: 768px) {
    .hamburger {
        display: block;
    }
}
